<% current_user.requests.each do |request| %>

<div class="booking-card">
  <div class="booking-img"><%= cl_image_tag request.boat.photos[0].key, height: 180, width: 200 %></div>
    <div class="information">
    <ul class="infos-booking" style="padding-inline-start: 10px; list-style-type:none;">
    <li>Duration: <%= request.duration %> days</li>
    <li>Dates: <%= request.start_date.strftime("%m/%d/%Y") %> to <%= request.end_date.strftime("%m/%d/%Y") %></li>
    <li>Total price: <%= request.price %>€</li>
    <li>Status: <%= request.status %></li>

    <% if request.status == "pending" %>
        <div class="accept-request">
            <%= link_to update_status_booking_path(request, params:{status:"accepted"}), method: :patch do %>
                <div class="accept-btn">
                Accept
                </div>
            <% end %>
            </div>

       <div class="refuse-request">
        <%= link_to update_status_booking_path(request, params:{status:"refused"}), method: :patch do %>    
        <div class="refuse-btn">
          Refuse
        </div>
      <% end %>
    </div>
    <% end %>

    </ul>
    </div>
   
</div>
  <% end %>