<div class="container-boats">
  <div class="container ">
    <%= form_tag boats_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a yacht"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
  </div>

  <div class="btn btn-boats" style="margin-top: 8px">
  <div class="new-boat"><%= link_to 'Add a boat', new_boat_path %></div>

  </div>
    <div class="grid_cards">
      <% @boats.each do |boat| %>
        <div class="card-trip">
          <div class="card-trip-img">
            <div class="boat-img"><%= cl_image_tag boat.photos[0].key, height: 200, width: 345 %></div>
          </div>

          <div class="card-trip-infos">
            <div>
              <h2><%= link_to boat.name, boat_path(boat) %></h2>
              <div class="ratings-boats">
                <%boat.set_rating.times do  %>
                  <i class="fas fa-star"></i>
                <% end %>
                <h2>(<%= boat.reviews.count %>)</h2>
              </div>
            </div>

            <div style="text-align: center">
              <h2><%= boat.price_per_day %>€ per day</h2>
              <div class="btn btn-boats" style="margin-top: 8px">
              <div class="new-booking"><%= link_to "Add Booking", new_boat_booking_path(boat)%></div>
              </div>
            </div>
            <img src="https://avatars2.githubusercontent.com/u/70326393?s=400&u=a255359e8cec9c450d3bff09418717642dccd820&v=4" alt="Avatar Juls" class="card-trip-infos-avatar">
        </div>
      </div>
      <% end %>
  </div>
</div>
