<div class="container-all">
  <div class="container_new_boat">
    <%= simple_form_for [ @boat ] do |f| %>
      <%= f.input :name, placeholder: "boat's name"%>
      <%= f.input :boat_model, placeholder: "boat's model"%>
      <%= f.input :description, placeholder: "swimming pool, # staff, size, etc."%>
      <%= f.input :capacity, placeholder: "# of people onboard" %>
      <%= f.input :price_per_day, placeholder: "in €"%>
      <%= f.input :address, placeholder: "ex: Wharf Marina, Syndney"%>
      <%= f.input :heliport%>
      <%= f.input :pool%>
      <%= f.input :spa%>
      <%= f.input :staff%>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <div class="btn-create-new-boat">
        <%= f.submit "Create", class: "btn" %>
      </div>
    <% end %>
  </div>
  <div class="link-back">
    <%= link_to 'Back', boats_path%>
  </div>
</div>
