<div class="container-all"><div class="page-container">
  <div class="bandeau">
    <div class="back">
    <%= link_to boats_path do %>
      <div class="btn btn-primary btn-back">
        Back
      </div>
    <% end %>
  </div>
  </div>
    <div class="container">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <p>Proposed by <%= @boat.user.first_name.capitalize%></p>
        <div class="carousel-inner">
            <% @boat.photos.each_with_index do |photo, index| %>
            <div class="carousel-item  <%= 'active' if index == 0%> ">
              <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
            </div>
            <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="infos">
        <div class="name">
            <h1><%= @boat.name %></h1>
        </div>
        <div class="description">
          <p><%= @boat.boat_model %></p>
          <h5><strong>Description</strong></h5>
          <br>
          <%= @boat.description %>
        </div>
        <br>
        <ul>
          <li>
            <i class="fas fa-user-friends"> <%=@boat.capacity %></i>
          </li>
          <li>
            <i class="fas fa-euro-sign"><%=@boat.price_per_day%> per day</i>
          </li>
        </ul>
        <div class="book-container">
          <div class="book">
              <%= link_to new_boat_booking_path(@boat), class: 'test' do %>
            <div class="btn btn-primary btn-book">
              Book
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
<br>
<br>
<br>
<div class="container-btns">
  <div class="edit">
      <% if policy(@boat).edit? %>
      <%= link_to edit_boat_path(@boat) do %>
        <div class="btn btn-primary btns">
          Edit
        </div>
      <% end %>
      <% end %>
    </div>

    <div class="delete">
      <% if policy(@boat).destroy? %>
      <%= link_to boat_path(@boat), method: :delete, data: { confirm: 'Are you sure?' } do %>
        <div class="btn btn-primary btns">
          Delete
        </div>
      <% end %>
      <% end %>
    </div>

    <div class="edit">
      <%= link_to bookings_path do %>
        <div class="btn btn-primary btns">
          My bookings
        </div>
      <% end %>
    </div>
  </div>

  <% @boat.reviews.each do |review| %>
  <%= review.content%>
  <% end %>

</div>
</div>
