<%= @boat.name %>
<%= @boat.description %>
<%= @boat.price_per_day %>
<%= link_to 'Back', boats_path %>
<%= link_to'Edit', edit_boat_path(@boat)%>
<%= link_to boat_path(@boat), method: :delete, data: { confirm: 'Are you sure?' } do %>
  <div class="btn btn-primary">
    Delete
  </div>
<%= link_to "Add booking", new_boat_booking_path(@boat) %>  
<%= link_to "Show bookings", boat_bookings_path(@boat) %>
  <% end %>
